<div class="jumbotron">

  <%= gravatar="jumbotron" %>
  <div class="row">
    <div class="col-8">
      <div class="media-body ml-3">
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>

        <% if current_user != @user %>

          <% unless current_user.following?(@user) %>
           <%= form_for(current_user.active_relationships.build) do |f| %> 
           <div><%= hidden_field_tag :followed_id,@user.id %></div> 
           <%= f.submit "Follow", class: "btn btn-primary"%>
           <% end %>        
          <% else %>
            <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
            html: {method: :delete}) do |f| %>
            <%= f.submit "Unfollow",class: "btn btn-secondary" %>
            <% end %>
          <% end %>

        <% end %>

      </div>
       


    </div>

  <div class="col-4 text center">
    <div class="row">
        <div class="col-4">
          <h3><%= @user.microposts.count %></h3>
          microposts
        </div>

        <div class="col-4">
          <h3><%= @user.active_relationships.count %></h3>
          following
        </div>

        <div class="col-4">
          <h3><%= @user.passive_relationships.count %></h3>
          followers
        </div>


    </div>
  </div>

  </div>
</div>
          <% if @microposts.any? %>
            <ul class="list-unstyled">
              <%= render "microposts/micropost" %>
            </ul>
          <% else %>
            <div class="text-muted">Nothing to show</div>
          <% end %>

  